// navbar
.activ{
    color: map-get($colores,"turquesa");
    border-bottom: 1px solid map-get($colores,"turquesa");
}

.nav-link:hover,.activ:hover, .navbar-toggler:hover{
    background-color: map-get($colores,"turquesa");
    color: map-get($colores,"negro");
    border-radius: 10px;
    transition:.5s;
}
.navbar-toggler{
    color: map-get($colores,"turquesa");
}

.nav-link:focus{
    color: map-get($colores,"negro");
    background-color: map-get($colores,"turquesa");
    border-radius: 10px;
}

.nav-link{
    transition: 0s;
}

// botones
.boton{
    background-color: map-get($colores,"naranja" );
    border: none;
        &:hover,&:focus{
            background-color: map-get($colores,"turquesa");
            color: map-get($colores,"negro");
            transition: all .4s;
            box-shadow: 0px 0px 15px 0px map-get($colores,"turquesa");
        }
        &:active{
            background-color: map-get($colores,"turquesa");
            color: map-get($colores,"negro");  
        }
}

//boton wsp
.fixed-bottom{
    bottom: 20px;
    left: 20px;

        img{
            width: 50px;
        }
}

.fondoFraseContacto i:hover{
    filter: drop-shadow(12px 8px 3px map-get($colores,"gris"));
    transition: all 1s;
}
// listas
#lista li span::before{
    content: "✔ ";
    color:map-get($colores,"naranja");
}

/* "animaciones"*/
#inicio{
        .card{
            border:0;
                &:hover{
                transform: translateY(-.5rem);
                box-shadow: 0px 15px 15px 0px map-get($colores,"negro");
                transition: all .8s;
                }
        }
}

#actividades .card:hover,.carousel-item .card:hover{
    transform: scale(1.03);
    transition: all .8s;
    box-shadow: 0px 0px 10px 5px map-get($colores,"negro");
}

#servicios .card:hover{
    transform: translate(.5rem,-.5rem);
    transition: all .8s;
}

#actividades .card:hover a, .carousel-item .card:hover a{
    transform: scale(1.2);
    transform: translateX(1rem);
    transition: all 1s;
}
#actividades .card:hover h4, .carousel-item .card:hover h4{
    transform: scale(1.2);
    transform: translateX(1rem);
    color: map-get($colores, "turquesa");
    transition: all 1s;
}

#servicios .card:hover div{
  background:map-get($colores, "overlayNegroOscuro");
  transition: all 1s;
}

.aparicion{
    animation-name: entrada;
    animation-duration: 1.5s;
}

@keyframes entrada{
    from{
        opacity: 0;
        transform: translate(0,200px);
    }
    to{
       opacity: 1;
    }
}