body{
    background-color: #f1ede2;
}

.hero{
    background-image: map-get($colores,"gradienteHero"),url("../images/intro.jpg");
    background-attachment:fixed;
    background-size: cover;
    background-position: 25% 25%;
    height: 60vh;
}

.fondoContenedorLista{
    background-image:map-get($colores,"gradienteHero"),url("../images/fondoContLista.jpg");
    background-size: cover;
    background-attachment:fixed;

}
.fondoFrase{
    background-image: map-get($colores,"gradienteHero"),url("../images/fondoFrase.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 40vh;
}

.fondoContenedorListaOlimpus{
    background-image:map-get($colores,"gradienteHero"),url("../images/contenedor_2_olimpus.jpg");
    background-size: cover;
    background-attachment:fixed;
}
.fondoFraseOlimp{
    background-image: map-get($colores,"gradienteHero"),url("../images/fondo_frase.jpg");
    background-size: cover;
    background-attachment: fixed;       /* sacar el fixeed */
    background-position: 50% 100%;
    height: 40vh;
}
.fondoFraseAct{
    background-image: map-get($colores,"gradienteHero"),url("../images/foto_final_actividades.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
}
.fondoFraseServ{
    background-image: map-get($colores,"gradienteHero"),url("../images/finalServi.jpg");
    background-position: 0% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
}
.fondoFraseContacto{
    background-image: map-get($colores,"gradienteHero"),url("../images/finalContacto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 40vh;
}

.heroCycling{
    background-image: map-get($colores,"gradienteHero"),url("../images/actividades/fondoCycling.jpg");
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}

.heroMuscu{
    background-image: map-get($colores,"gradienteHero"),url("../images/actividades/fondoMusculacion.jpg");
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}

.heroCombat{
    background-image: map-get($colores,"gradienteHero"),url("../images/actividades/fondoCombat.jpg");
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}

.heroZumba{
    background-image: map-get($colores,"gradienteHero"),url("../images/actividades/fondoZumba.jpg");
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}

.heroPersonal{
    background-image: map-get($colores,"gradienteHero"),url("../images/actividades/fondoPersonalTrainer.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 60vh;
}

.row{
    animation-name: entrada;
    animation-duration: 1.5s;
}